.dashboard-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sbar   main   main   main"
    "sbar   main   main   main"
    "sbar   main   main   main"
    "sbar   main   main   main";

  background-color: #b3d8df;
  height: 100svh;
  width: 100svw;
  grid-template-rows: 60px repeat(4, 1fr);
  grid-template-columns: 300px;
  grid-gap: 10px;
}

.sbar-wrapper {
  grid-area: sbar;
  background-color: beige;
}
.header-wrapper {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: chartreuse;
  justify-content: space-between;
}
.header-wrapper span {
  cursor: pointer;
}
.main-wrapper {
  grid-area: main;
  background-color: blueviolet;
}
.channel-list, .directmsg-list  {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.channel-list span {
  font-weight: bold;
  cursor: pointer;
  width: max-content;
}
.directmsg-list span {
  font-weight: bold;
  cursor: pointer;
  width: max-content;
}
.chat-box {
  height: 70%;
  background-color: aliceblue;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}
.message-box {
  height: 20%;
  margin: 20px;
  padding: 10px;
  background-color: aqua;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f7e98d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.channel-header{
  margin-left: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  /* border: 1px black solid; */
}
.channel-container{
  margin-left: 15px;
  display: flex;
  gap: 20px;
}
.channel-container svg{
  cursor: pointer;
}
.channel-header svg{
  cursor: pointer;
}
.direct-message-header{
  margin-left: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.direct-message-container{
  margin-left: 15px;
  display: flex;
  gap: 20px;
}
.direct-message-header svg{
  cursor: pointer;
}
.app-title{
  display: inline-block;
  font-size: 3rem;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 10px;
}
/* .overlay{
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
} */