@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.rubik-bold600 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.caveat-700 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.header-name{
  margin-left: 20px;
  font-size: 2rem;
}
.dashboard-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sbar   main   main   main"
    "sbar   main   main   main"
    "sbar   main   main   main"
    "sbar   main   main   main";

  background-color: #5C3A58;
  height: 100svh;
  width: 100svw;
  grid-template-rows: 60px repeat(4, 1fr);
  grid-template-columns: 350px;
  grid-gap: 10px;
}

.sbar-wrapper {
  grid-area: sbar;
  background-color: #83c0d8;
  border-radius: 10px;
  overflow: auto;
}
.header-wrapper {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: #83c0d8;
  justify-content: space-between;
}
.header-wrapper span {
  cursor: pointer;
}
.main-wrapper {
  grid-area: main;
  background-color: #83c0d8;
  border-radius: 10px;
}
.channel-list, .directmsg-list  {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.channel-list span {
  font-weight: bold;
  cursor: pointer;
  width: max-content;
}
.directmsg-list span {
  font-weight: bold;
  cursor: pointer;
  width: max-content;
}
.chat-box {
  height: 65%;
  background-color: #83c0d8;
  margin: 20px;
  padding: 8px;
  box-shadow: inset 0px 0px 23px -2px rgba(0,0,0,0.6);
  border: 1px solid black;
  border-radius: 5px;
}
/* .chatbox {
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: #ffffff;
  height: 99%;
  overflow: auto;
  border-radius: 3px;
} */
.message-box {
  height: 20%;
  margin: 20px;
  padding: 10px;
  background-color: #83c0d8;
  border: 1px solid black;
  box-shadow: inset 0px 0px 23px -2px rgba(0,0,0,0.6);
  border-radius: 5px;
  white-space: pre-wrap;
}
textarea {
  white-space: pre-wrap;
  width: 100%;
  max-width: 100%;
  height: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f7e98d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.channel-header{
  margin-left: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  /* border: 1px black solid; */
}
.channel-container{
  margin-left: 15px;
  display: flex;
  gap: 20px;
}
.channel-container svg{
  cursor: pointer;
}
.channel-header svg{
  cursor: pointer;
}
.channel-header span{
  font-size: 2rem;
}
.direct-message-header{
  margin-left: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.direct-message-header span{
  font-size: 2rem;
}
.direct-message-container{
  margin-left: 15px;
  display: flex;
  gap: 20px;
}
.direct-message-header svg{
  cursor: pointer;
}
.app-title{
  display: inline-block;
  font-size: 3rem;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.chatbox {
  /* display: grid; */
  /* overflow-anchor: none; */
  margin: 5px;
  background-color: #ffffff;
  height: 98%;
  overflow: auto;
  border-radius: 3px;
}
.receiver{
  /* display: block; */
  display: flex;
  /* overflow-anchor: auto; */
  width: 100%;
  justify-content: end;
}
.sender{
  /* overflow-anchor: auto; */
  width: 100%;
}
.chat-bubble{
  background-color: #ec689f;
  color: #fff;
  margin: 10px 5px 10px 5px;
  padding: 15px;
  width: fit-content;
  border-radius: 50px; 
}
.logout{
  margin-top: 10px;
  margin-right: 25px;
}

.header{
  margin-left: 10px;
  font-size: 2.5rem;
}